<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>Code-Barre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="scan()">Scanner</ion-button>
  <div *ngIf="result">
    <p>Marque : {{ result.product.brands }}</p>
    <p>Allegens : {{ result.product.allergens }}</p>
    <p>Nutriscore : {{ result.product.nutriscore_score }}</p>
    <img [src]="result.product.image_front_small_url">
  </div>
</ion-content>
