<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nouvel article</ion-label>
    <ion-input [(ngModel)]="newArticle"></ion-input>
    <ion-button size="medium" 
                slot="end" 
                color="tertiary"
                fill="outline"
                (click)="ajouter()"
                [disabled]="!newArticle?.trim()">+</ion-button>
  </ion-item>
  <div class="flex-end">
    <ion-button color="danger" (click)="clearAll()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>  
  </div>
  <ion-list>
    <ion-item *ngFor="let item of articles" (click)="openActionSheet(item)">
      <span>{{ item.name }}</span>
      <ion-icon *ngIf="item.isChecked" 
                name="checkmark-circle"
                color="success"
                slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
