<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>
